@use "../variables";

@mixin profile {
	.profile {
		padding-top: 10px;
		width: 90%;

		display: flex;
		flex-direction: column;

		&__header {
			display: flex;
			flex-direction: row;
			background-color: variables.$main;
			color: variables.$accents;
			padding: 15px 0;
			&_picture {
				align-self: center;
				justify-self: center;
				width: 20%;
				display: flex;
				align-self: center;
				justify-content: center;
				&_img {
					max-height: 200px;
					max-width: 200px;
					border-radius: 50%;
				}
			}
			&_name {
				align-self: center;
				justify-self: center;
				text-align: center;
				width: 80%;
			}
		}

		&__details {
			&_item {
				width: 100%;
				display: flex;
				flex-direction: row;
				&_title {
					font-weight: 700;
					padding: 5px;
				}
				&_value {
					font-style: italic;
					padding: 5px;
				}
			}
		}
	}
}
