@use "../variables";
@use "../Global/buttons";

@mixin header {
	.header {
		width: 100%;
		display: flex;
		background-color: variables.$main;
		color: variables.$accents;
		font-size: 1.5rem;
		font-weight: 700;
		&__navbar {
			width: 70%;
			display: flex;
			align-items: center;
			@include buttons.global-button(variables.$accents);
		}
		&__userbar {
			display: flex;
			align-items: center;
			width: 30%;
			justify-content: space-around;

			@include buttons.global-button(variables.$accents);
		}
	}
}
